@page "/admin-cosmetology"
@using Microsoft.AspNetCore.Authorization
@using webStudio.Components.Layout
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
<h3>AdminCosmetology</h3>

@code {

}
