@page "/massage-therapy"


<h3 style="padding-top: 7%;"></h3>
<section class="text-center pt-32 pb-12 px-4 bg-white">
    <h1 class="text-4xl font-extrabold mb-4" style="color: #f8b7d8;">Масаж</h1>
    <p class="text-gray-700 text-lg max-w-2xl mx-auto leading-relaxed">
        Масаж — це не просто процедура, а мова турботи про тіло.
        Відновлення, розслаблення, зняття напруги та енергія в кожному дотику.
        Оберіть свій ритуал комфорту разом з нами 💆‍♀️
    </p>
</section>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="bg-light rounded px-3 py-2 mb-4">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/" style="color: #f8b7d8;">Домашня сторінка</a></li>
        <li class="breadcrumb-item active" aria-current="page">Масажна терапія</li>
    </ol>
</nav>

<div class="container py-1">
    <div class="row justify-content-center g-4">
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-lg" target="_blank">
                <div class="ratio ratio-16x9">
                    <lite-youtube videoid="8AcjZM7DOuk" style="width: 100%; height: auto;" title="Комплексний масаж спини"></lite-youtube>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #f8b7d8;">Комплексний масаж спини (40 хв)</h5>
                    <p class="card-text">Комплексний масаж спини (спина, руки, груди, голова) - полегшить біль в спині, зменшить головні болі.</p>
                </div>
                <div class="card-footer bg-transparent border-0 text-center">
                    <a class="btn btn-outline-primary" href="#">500 грн</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-lg" target="_blank">
                <div class="ratio ratio-16x9">
                    <lite-youtube videoid="ikHn4dHpHqA" style="width: 100%; height: auto;" title="Масаж всього тіла "></lite-youtube>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #f8b7d8;">Масаж всього тіла  (60 хв)</h5>
                    <p class="card-text">Масаж всього тіла допоможе зняти напругу в мʼязах, покращить кровопостачання, лімфовідтік. Покращить ваш сон і самопочуття.</p>
                </div>
                <div class="card-footer bg-transparent border-0 text-center">
                    <a class="btn btn-outline-primary" href="#">700 грн</a>
                </div>
            </div>
        </div>
    </div>
</div>

